h1 {color:blue;
    text-align: center;
    font-weight: bold;
margin-top:50px;
font-size:90px;}
h2 {color: blueviolet;
text-align: center;
font-family: 'Times New Roman', Times, serif;
margin-top: 25px;}
body {background-color: black;
background-image:url(https://cdn.wallpapersafari.com/22/70/oZCrvS.jpeg);}
.links {color: #00ff11;
    text-align: center;
    background-color: #666666;
   margin-top:0px;
height:40px;


}

